@import 'normalize.css/normalize';
@import './game-map/game-map';
@import './action-button/action-button';
@import './action-slots/action-slots';

body {
  width: 100vw;
  height: 100vh;
  background: #333333;
}

.app {
  .game-map {
    margin: 0 auto;
  }

  @media screen and (orientation:portrait) {
    .game-map {
      width: 100vw;
      height: 100vw;
    }

    .action-slots {
      bottom: 5px;
      left: 5px;
      width: 100%;
    }
  }

  @media screen and (orientation:landscape) {
    .game-map {
      width: 100vh;
      height: 100vh;
    }

    .action-slots {
      top: 5px;
      left: 5px;
      width: 64px;
    }
  }

  .action-slots {
    position: absolute;
  }
}
