@import 'normalize.css/normalize';
@import './game-map/game-map';
@import './game-message/game-message';
@import './action-button/action-button';
@import './action-slots/action-slots';
@import './player/battery-indicator';
@import './player/life-indicator';
@import './player/player';
@import './turn-timer/turn-timer';

body {
  width: 100vw;
  height: 100vh;
  background-image: url('./background.jpg');
  background-size: cover;
  overflow: hidden;
}

.app {
  margin: 0 auto;
  position: relative;

  .available-actions {
    background: rgba(81, 59, 108, 0.6);
  }

  @media screen and (orientation:portrait) {
    .selected-actions {
      position: absolute;
      width: 100vw;
      text-align: center;
      bottom: -60px;
    }

    .available-actions {
      position: absolute;
      width: 100vw;
      text-align: center;
      bottom: 0px;
    }

    &, .game-map {
      width: 100vw;
      height: 100vw;
    }
  }

  @media screen and (orientation:landscape) {
    .selected-actions {
      position: absolute;
      width: 60px;
      left: -60px;
      top: 0;
    }

    .available-actions {
      position: absolute;
      width: 60px;
      left: 0px;
      top: 0;
      z-index: 100;
    }

    &, .game-map {
      width: 100vh;
      height: 100vh;
    }
  }
}
