@import 'normalize.css/normalize';
@import './game-map/game-map';
@import './action-button/action-button';
@import './action-slots/action-slots';

body {
  width: 100vw;
  height: 100vh;
  background: #333333;
}


.app {
  margin: 0 auto;
  position: relative;

  .available-actions {
    background: #EA7373;
  }

  @media screen and (orientation:portrait) {
    .selected-actions {
      position: absolute;
      width: 100vw;
      text-align: center;
      bottom: -64px;
    }

    .available-actions {
      position: absolute;
      width: 100vw;
      text-align: center;
      bottom: 0px;
    }

    &, .game-map {
      width: 100vw;
      height: 100vw;
    }
  }

  @media screen and (orientation:landscape) {
    .selected-actions {
      position: absolute;
      width: 64px;
      left: -64px;
      top: 0;
    }

    .available-actions {
      position: absolute;
      width: 64px;
      left: 0px;
      top: 0;
    }

    &, .game-map {
      width: 100vh;
      height: 100vh;
    }
  }
}
