.game-map {
  border-spacing: 0;
  background: #6A9D47;
  td {
    padding: 0;

    &.cell-1 {
      background: url('./map/terrain-types/map-cell-1.svg') no-repeat;
      background-size: contain;
    }

    &.cell-14 {
      background: url('./map/terrain-types/map-cell-14.svg') no-repeat;
      background-size: contain;
    }
  }
}
