@import "neal-react/css/base";

#player-name {
  color: black;
  display: inline;
  width: 50%;
}

.btn.btn-vote {
  display: inline-block;
  margin-left: 20px;
  background-color: rgba(255,255,255, 0.8);
}
