.game-message {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.invisible {
    display: none;
  }

  .message {
    width: 100%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #f1f1f1;
    position: absolute;
    padding: 10vw 0;
    font-size: 2vw;
  }
}
