.action-button {
  -webkit-appearance: none;

  width: 64px;
  height: 64px;
  background-color: transparent;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 7px;

  &.current {
    background-color: #80DDCB;
  }

  &.past {
    opacity: 0.5;
  }

  &.editting {
    background-color: rgba(81, 59, 108, 0.6);;
  }

  &.action-button-forward {
    background-image: url('./action-button/action-button-forward.png');
  }

  &.action-button-spin-left {
    background-image: url('./action-button/action-button-spin-left.png');
  }

  &.action-button-spin-right {
    background-image: url('./action-button/action-button-spin-right.png');
  }

  &.action-button-backward {
    background-image: url('./action-button/action-button-backward.png');
  }

  &.action-button-beam {
    background-image: url('./action-button/action-button-beam.png');
  }

  &.action-button-blast {
    background-image: url('./action-button/action-button-blast.png');
  }

  &.action-button-shield {
    background-image: url('./action-button/action-button-shield.png');
  }

  &.action-button-empty {
    background-image: url('./action-button/action-button-empty.png');
  }

  &.action-button-recharge {
    background-image: url('./action-button/action-button-recharge.png');
  }
}
