.action-button {
  -webkit-appearance: none;

  width: 60px;
  height: 60px;
  background-color: transparent;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: none;
  background-size: 60%;

  &.current {
    background-color: #80DDCB;
  }

  &.past {
    opacity: 0.5;
  }

  &.editting {
    background-color: rgba(81, 59, 108, 0.6);
  }

  &.action-button-forward {
    background-image: url('./action-button/action-button-forward.png');
  }

  &.action-button-spin-left {
    background-image: url('./action-button/action-button-spin-left.png');
  }

  &.action-button-spin-right {
    background-image: url('./action-button/action-button-spin-right.png');
  }

  &.action-button-backward {
    background-image: url('./action-button/action-button-backward.png');
  }

  &.action-button-beam {
    background-image: url('./action-button/action-button-beam.png');
  }

  &.action-button-blast {
    background-image: url('./action-button/action-button-blast.png');
  }

  &.action-button-shield {
    background-image: url('./action-button/action-button-shield.png');
  }

  &.action-button-empty {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 24px;
    border: 1px solid #777;

    &.editting {
      background-color: rgba(81, 59, 108, 0.6);
    }
  }

  &.action-button-recharge {
    background-image: url('./action-button/action-button-recharge.png');
  }
}
