.player {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  &.player-1 {
    background-image: url('./player/player-1.png');
  }

  &.player-2 {
    background-image: url('./player/player-2.png');
  }
}
