.player {
  width: 100%;
  height: 100%;

  .player-body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    transition: all 0.5s ease-in-out;
  }

  .battery-indicator {
    position: absolute;
    top: 2px;
    left: 55%;
    right: 10%;
  }

  .life-indicator {
    position: absolute;
    top: 2px;
    left: 10%;
    right: 50%;
    text-align: right;
  }

  .flames, .beam, .particle, .recharge {
    opacity: 0;
  }

  &.player-facing-N .player-body {
    transform: rotate(0deg);
  }

  &.player-facing-S .player-body {
    transform: rotate(180deg);
  }

  &.player-facing-W .player-body {
    transform: rotate(90deg);
  }

  &.player-facing-E .player-body {
    transform: rotate(90deg);
  }

  &.player-moving {
    .flames {
      animation: engine-on ease-in-out 0.5s infinite;
    }
  }

  &.player-shooting {
    .beam {
      animation: beam-on ease-in-out 0.3s infinite;
    }
  }

  &.player-blasting {
    .blast {
      .particle {
        animation: blast-on ease-in-out 0.8s alternate;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }

  &.player-dying {
    animation: dying ease-in-out 1s;
  }

  &.player-damaged {
    animation: damage ease-in-out .6s;
  }
  
  &.player-recharge {
    .recharge {
      opacity: 1;
    }
  }

  .flames {
    width: 30px;
    height: 133px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -20px -16px;
    background-repeat: no-repeat;
  }

  .beam {
    .light {
      width: 1px;
      height: 100px;
      position: absolute;
    }
  }

  .blast {
    .particle {
      top: 0%;
      left: 0%;
      position: absolute;
      border-radius: 50%;
    }
  }

  .recharge {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin: -17px;
    background: url('./recharge.svg') no-repeat 0 0;
  }

  &.player-1 {
    .player-body {
      background-image: url('./player/player-green.png');
    }

    .flames {
      background-image: url('./player/flames-green.png');
    }

    .beam {
      .light {
        background-color: #2AF19F;
        box-shadow: 0px 0px 10px 2px #2AF19F;
        &:nth-child(1) {
          bottom: 90%;
          left: 38%;
        }
        &:nth-child(2) {
          bottom: 90%;
          left: 62%;
        }
        &:nth-child(3) {
          bottom: 55%;
          left: 66%;
        }
        &:nth-child(4) {
          bottom: 55%;
          left: 34%;
        }
        &:nth-child(5) {
          bottom: 50%;
          left: 23%;
        }
        &:nth-child(6) {
          bottom: 50%;
          left: 77%;
        }
      }
    }

    .blast {
      .particle {
        background-color: #2AF19F;
        box-shadow: 0px 0px 10px 5px #2AF19F;
      }
    }
  }

  &.player-2 {
    .player-body {
      background-image: url('./player/player-red.png');
    }

    .flames {
      background-image: url('./player/flames-red.png');
    }

    .beam {
      .light {
        background-color: #D9555D;
        &:nth-child(1) {
          bottom: 80%;
          left: 35%;
          box-shadow: 0px 0px 10px 7px #D9555D;
        }
        &:nth-child(2) {
          bottom: 80%;
          left: 65%;
          box-shadow: 0px 0px 10px 7px #D9555D;
        }
        &:nth-child(3) {
          bottom: 65%;
          left: 21%;
          box-shadow: 0px 0px 10px 5px #D9555D;
        }
        &:nth-child(4) {
          bottom: 65%;
          left: 78%;
          box-shadow: 0px 0px 10px 5px #D9555D;
        }
        &:nth-child(5), &:nth-child(6) {opacity: 0;}
      }
    }

    .blast {
      .particle {
        background-color: #D9555D;
        box-shadow: 0px 0px 10px 5px #D9555D;
      }
    }
  }

  &.player-3 {
    .player-body {
      background-image: url('./player/player-blue.png');
    }
    .flames {
      background-image: url('./player/flames-blue.png');
    }

    .beam {
      .light {
        background-color: #0dd;
        &:nth-child(1) {
          bottom: 90%;
          left: 50%;
          box-shadow: 0px 0px 10px 5px #0ff;
        }
        &:nth-child(2) {
          bottom: 75%;
          left: 25%;
          box-shadow: 0px 0px 10px 2px #0ff;
        }
        &:nth-child(3) {
          bottom: 75%;
          left: 74%;
          box-shadow: 0px 0px 10px 2px #0ff;
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6) {opacity: 0;}
      }
    }

    .blast {
      .particle {
        background-color: #0ff;
        box-shadow: 0px 0px 10px 5px #0ff;
      }
    }
  }
  
  &.player-4 {
    .player-body {
      background-image: url('./player/player-yellow.png');
    }
    
    .flames {
      background-image: url('./player/flames-yellow.png');
      margin: -28px -15px;
    }
    
    .beam {
      .light {
        background-color: #EAC352;
        box-shadow: 0px 0px 10px 2px #EAC352;
        &:nth-child(3) {
          bottom: 60%;
          left: 66%;
        }
        &:nth-child(4) {
          bottom: 60%;
          left: 34%;
        }
        &:nth-child(5) {
          bottom: 55%;
          left: 23%;
        }
        &:nth-child(6) {
          bottom: 55%;
          left: 77%;
        }
        &:nth-child(1), &:nth-child(2) {opacity: 0;}
      }
    }

    .blast {
      .particle {
        background-color: #EAC352;
        box-shadow: 0px 0px 10px 5px #EAC352;
      }
    }
  }
}


@keyframes engine-on {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}}
@keyframes beam-on {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}}
@keyframes blast-on {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity:1;
  }

  20% {
    opacity:0.6;
  }

  40% {
    opacity:0.2;
  }

  60% {
    opacity:0.6;
  }

  80% {
    opacity:0.2;
  }

  100% {
    top: -50%;
    left: -60%;
    width: 300%;
    height: 300%;
    opacity: 0;
    margin-left: -40%;
    margin-top: -50%;
  }
}
@keyframes dying {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 0;
  }
}

@keyframes damage {
  from, to {
    transform: rotate3d(0, 0, 1, 0) translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
}
